<div class="container ">
  <h2>Fav Quotes</h2>
  <div class="row">
    <div class="col-md-8 yellow">
      <div class="">
        <ul>
          <div *ngFor='let quote of quotes;let i = index'>
            <div class="card">
              <div>
                <li>
                  <span class="quote">"{{quote.name}}" </span> posted {{quote.postDate | dateCount}}
                </li>
                <button (click)='toggleDetails(i)' class="btn btn-primary">Author</button>
              </div>
            </div>
            <div *ngIf='quote.showDescription'>
              <app-quotes-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'>
              </app-quotes-detail>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <app-goal-form (addQuote)="addNewQuote($event)"></app-goal-form>
    </div>
  </div>
</div>