<div class="containe">
  <h2>Fav Quotes</h2>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <div *ngFor='let quote of quotes;let i = index'>
          <div>
            <li>
              {{quote.name}} posted on {{quote.postDate|dateCount}}
            </li>
            <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle</button>
          </div>
          <div *ngIf='quote.showDescription'>
            <app-quotes-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'>
            </app-quotes-detail>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>