<div class="authr">
  <h4>
    by {{quote.author}}
    <div class="vote">
      <div class="">
        <div class="value">
          Votes: {{ votes }}
        </div>
      </div>
    </div>
  </h4>
</div>


<div class="">
  <ul class="">
    <li class="">
      <a href (click)="likeVote()">
        <i class="arrow down icon"></i>
        upvote
      </a>
    </li>
    <li class="">
      <a href (click)=" dislikeVote()">
        <i class="arrow down icon"></i>
        downvote
      </a>
    </li>
  </ul>
</div>
<button (click)='quoteDelete(true)' class="btn btn-outline-danger">Delete</button>