/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-image: url(/assets/headphones_black_close_up_153018_3840x2400.jpg);
  z-index: 0;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  font-weight: bolder;
  text-decoration: underline;
}
h2,
h3 {
  color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-weight: bolder;
}
body {
  margin: 2em;
}
body,
input[type="text"],
button {
  color: #333;
  font-family: Cambria, Georgia;
}

.vote {
  float: right;
}
.quote {
  font-size: x-large;
  font-weight: bolder;
  font-style: italic;
}
.yellow {
  background-color: greenyellow;
  padding-top: 50px;
  box-shadow: 10px;
}
